<div class="container-fluid">
    <div class="row">
        <div class="col-sm esp">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Conserto de CPU</mat-card-title>
                    <mat-card-subtitle>por ótimo preço</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/imagens/img1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm esp">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Conserto de placas</mat-card-title>
                    <mat-card-subtitle>por ótimo preço</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/imagens/img2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm esp">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Montagem pc game</mat-card-title>
                    <mat-card-subtitle>por ótimo preço</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/imagens/img3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm esp">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Computador completo</mat-card-title>
                    <mat-card-subtitle>por ótimo preço</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/imagens/img4.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm esp">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Conserto de celulares</mat-card-title>
                    <mat-card-subtitle>por ótimo preço</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/imagens/img5.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm esp">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Trocas de todas peças</mat-card-title>
                    <mat-card-subtitle>por ótimo preço</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/imagens/img6.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm esp">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Trocas de todas telas</mat-card-title>
                    <mat-card-subtitle>por ótimo preço</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/imagens/img7.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm esp">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Venda de celulares</mat-card-title>
                    <mat-card-subtitle>por ótimo preço</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/imagens/img8.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>