<div class="footer">
    <div class="footer-bandeiras">     
        <ul> 
            <p>formas de pagamentos</p>
            <li><img src="assets/imagens/band1.png" title="Visa" alt="bandeira visa" /></li>
            <li><img src="assets/imagens/band2.png" title="Master Card" alt="bandeira marter card" /></li>
            <li><img src="assets/imagens/band3.png" title="Hiper Card" alt="bandeira hipercard" /></li>
            <li><img src="assets/imagens/band4.png" title="American Express" alt="bandeira american express" /></li>
            <li><img src="assets/imagens/band5.png" title="Diners Club" alt="bandeira diners club" /></li>
            <li><img src="assets/imagens/band6.png" title="Elo" alt="bandeira elo" /></li>
        </ul>
    </div>
    <div class="footer-contatos">
        <div class="footer-contatos-empresa">
            <h3>Empresa</h3>
            <p>Marcos Informática LTDA / CNPJ 10.111.222/###1-#2 / Endereço: Rua Bento Bires Ribeiro,
                91, Jardim Santo André, São Paulo. CEP 08390-240</p>

        </div>
    </div>
    <div class="footer-social">
        <p>Redes Sociais</p>
        <ul>
            <li><img src="assets/imagens/social1.png" title="facebook" alt="facebook" /></li>
            <li><img src="assets/imagens/social2.png" title="instagram" alt="instagram" /></li>
            <li><img src="assets/imagens/social3.png" title="whatssap" alt="whatssap" /></li>
            <li><img src="assets/imagens/social4.png" title="gmail" alt="gmail" /></li>
            
        </ul>
    </div>
</div>
