<div class="container">
    <mat-tab-group dynamicHeight="true">
        <mat-tab label="Celulares">

            <div class="container">
                <h1>Assistência técnica</h1>
                <div class="container-h2">
                    <h2>Troque com segurança</h2>
                    <div class="container-p">
                        <p>
                            Responsável pela imagem do celular, o <strong>display</strong> é essencial
                            para o funcionamento do aparelho. Trabalhamos com peças
                            originais e equipe especializada para efetuar a troca e manter
                            as funcionalidades ativas.
                        </p>
                        <div class="container-img">
                            <img src="assets/imagens/celQuebrado.jpg" alt="celular quebrado" />
                        </div>
                    </div>
                </div>

                <div class="container-consertos">
                    <h1>Vale a pena levar o celular para o conserto?</h1>
                    <img src="assets/imagens/consertoCel.jpg" alt="conserto de celuar" />
                    <p>Apesar de ser uma pergunta generalizada, é importante deixar claro que existem fatores que
                        determinam se os <strong>reparos em celulares</strong> valem a pena ou não. Nesse caso, os próprios profissionais
                        responsáveis pelo concertos costumam alertar seu cliente sobre os benefícios ou desvantagens no
                        concerto de determinado aparelho.

                        Algumas perguntas, por exemplo, podem ajudar na determinação da necessidade de realizar reparos
                        em celulares. Veja alguns exemplos!</p>
                        <ul>
                            <li><p>O aparelho atual é antigo ou você acabou de compra-lo? Verifique se ainda está no período de garantia!</p></li>
                            <li><p>O aparelho que você deseja levar ao concerto o satisfazia antes de apresentar o problema?</p></li>
                            <li><p>Quanto custou o aparelho atual e quanto geralmente está disposto a gastar com um novo?</p></li>
                            <li><p>Você está, atualmente, com problemas financeiros ou numa situação estável?</p></li>
                            <li><p>Verifique se o conserto irá deixar o celular como novo ou se existem riscos do problema voltar.</p></li>
                            <li><p>Quanto vai custar o conserto?</p></li>
                        </ul>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="PC's"> 
            <div class="container">
                <h1>Nossos Serviços</h1>
                <h2>Manutenção de computadores</h2>
                <img class="pcs" src="assets/imagens/manutencaoPC.jpg" alt="manutenção de computador" />
                <p class="pcs-p">De software a hardware, seja um  computador gamer ou workstation, você pode sempre contar conosco.</p>
                
                <h2>Manutenção de notebooks</h2>
                <img class="pcs" src="assets/imagens/manutencaoNot.jpg" alt="manutenção de computador" />
                <p class="pcs-p">Reparamos notebooks, ultrabooks e laptops. Todos os serviços tem 30 dias de garantia.</p>
               
                <h2>Remoção de Vírus</h2>
                <img class="pcs" src="assets/imagens/virus.jpg" alt="manutenção de computador" />
                <p class="pcs-p">Somos  experts em remoção de vírus, spyware e outros tipos de malware de seu laptop ou computador pessoal.</p>
               
                <h2>Instalações e Formatações</h2>
                <img class="pcs" src="assets/imagens/sos.jpg" alt="manutenção de computador" />
                <p class="pcs-p">Instalações do windows e programas diversos e instalação de SSD e outros componentes. </p>
            </div>
        </mat-tab>
       
    </mat-tab-group>
</div>